* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 5px solid black;
    border-radius: 25px;
}

#table-container {
    height: 100%; 
    width: 100%;
    overflow: hidden;
}

.cell {
    perspective: 40px;
}

.info {
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Hover animations */
.cell:hover .info {
    transform: rotateX(0deg);
    background-color: rgba(26, 188, 156, 0.1); /* Background color on hover */
    opacity: 1; /* Make it visible on hover */
}

/* Additional styling for table cell */
.cell {
    position: relative;
    height: 100%;
    border-radius: 4px;
    background-color: #ECF0F1;
    box-shadow: inset 0 2px 20px #d1d1d1;
}

table tr td.cell {
    border: 1px solid #d1d1d1; /* Add border for better visualization */
    /* box-shadow: inset 0 2px 20px #d1d1d1; */
}