:root {
    --border: 2px solid;
    font-family: 'Roboto', sans-serif;
    -webkit-background-origin:border;
}

section {
    padding: 15px;
    margin-bottom: 15px;
}

#hero {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#hero img {
    background-size:cover;
    z-index: 0;
}

#cv {
    border: var(--border) salmon;
}

#personal-info {
    border: var(--border) red;
}

#objective {
    border: var(--border) blue;
}

#education {
    border: var(--border) green;
}

#certificates {
    border: var(--border) cyan;
}

#professional-experience {
    border: var(--border) yellow;
}

#additional-skills {
    border: var(--border) orange;
}

#interests {
    border: var(--border) purple;
}

#additional-professional-experience {
    border: var(--border) chartreuse;
}