:root {
    --border: 2px solid;
}

section {
    padding: 15px;
    margin-bottom: 15px;
}

#hero {
    width: 100vh;
    height: 100vh;
}

#cv {
    border: var(--border) salmon;
}

#personal-info {
    border: var(--border) red;
}

#objective {
    border: var(--border) blue;
}

#education {
    border: var(--border) green;
}

#certificates {
    border: var(--border) cyan;
}

#professional-experience {
    border: var(--border) yellow;
}

#additional-skills {
    border: var(--border) orange;
}

#interests {
    border: var(--border) purple;
}

#additional-professional-experience {
    border: var(--border) chartreuse;
}